<ion-header>
  <ion-toolbar>
      <ion-buttons style="margin-left: 5px" slot="start">
          <ion-back-button color="primary" defaultHref="/more"></ion-back-button>
        </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p style="padding: 20px; font-weight: 400; font-size: 18px;">
      <span style="font-weight: 600; color: #FF6800; margin-left: 5px">#Project81PH</span> is a mobile application platform for travelers who wish to track their Philippine travels as they explore the country one province at a time.<br><br>

      For its MVP release - it’ll only be as simple as a tracker but the team will continously improve its functionalities and features that’ll be released from time to time. <br><br>
      
      If you wish to send your feedback, please do so by opening the “more” page or the last icon of the menu bar and head to the “Give Feedback” option.<br><br>
      
      Made with ❤️ by the team.<br><br>
      
      For more information and updates, visit us at:<br>
      Our website - www.project81ph.com<br>
      Facebook - /project81ph/<br>
      Instagram - /project81ph/<br>
      Email - project81pinas@gmail.com
  </p>
</ion-content>
