<ion-header>
  <ion-toolbar>
      <ion-buttons style="margin-left: 5px" slot="start">
          <ion-back-button color="primary" defaultHref="/tabs/profile"></ion-back-button>
        </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons (click)="saveProfile()" style="margin-right: 10px" slot="end">
        <div style="font-size: 15px; font-weight: 300; ">Save</div>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div style="font-size: 15px; margin-top: 10px;  font-family: montserat; font-weight: 500; opacity: 0.8;">Name</div>
    <div style="border-radius: 10px; margin-top: 5px; height: 50px; background-color: white; border: 1.5px solid #cecece;">
      <div style="height: 100%">
        <div style="float: left; height: 100%; width: 77vw;">
          <ion-input type="email" [(ngModel)]="name" style="height: 100%; margin-left: 10px;"></ion-input>
        </div>
        <div style="float: left; height: 100%; width: 10vw;">
          <!-- <img height="24px" style="margin: 10px;" src="../../assets/icon/mail.png"> -->
        </div>
      </div>
    </div>

    <div style="font-size: 15px; margin-top: 20px;  font-family: montserat; font-weight: 500; opacity: 0.8;">Current Location</div>
    <div style="border-radius: 10px; margin-top: 5px; height: 50px; background-color: white; border: 1.5px solid #cecece;">
      <div style="height: 100%">
        <div style="float: left; height: 100%; width: 77vw;">
          <ion-input type="email" [(ngModel)]="location" style="height: 100%; margin-left: 10px;"></ion-input>
        </div>
        <div style="float: left; height: 100%; width: 10vw;">
          <!-- <img height="24px" style="margin: 10px;" src="../../assets/icon/mail.png"> -->
        </div>
      </div>
    </div>

    <div style="font-size: 15px; margin-top: 20px;  font-family: montserat; font-weight: 500; opacity: 0.8;">Bio</div>
    <div style="border-radius: 10px; margin-top: 5px; height: 150px; background-color: white; border: 1.5px solid #cecece;">
      <div style="height: 100%">
        <div style="float: left; height: 100%; width: 77vw;">
          <ion-textarea type="text" [(ngModel)]="aboutMe" style="height: 100%; margin-left: 10px;"></ion-textarea>
        </div>
        <div style="float: left; height: 100%; width: 10vw;">
        </div>
      </div>
    </div>

</ion-content>
