.userimg{
    -webkit-border-radius: 50%;
    height: 120px; 
   width: 120px; 
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  }

  .eachgalleryimage{
    width: 32vw; 
    height: 31vw; 
    margin: 1px;
    float: left;
    background-color: rgb(216, 216, 216);
  }

  #map {
    max-width: 500px;
    max-height: 600px;
    margin: 0 auto;
    background: rgb(250, 249, 249);
  }

  .mapcover{
    height: 70vh;
    width: 100vw;
    position: absolute;
    z-index: 7;
    bottom: -400px;
    background: transparent;

  }